---
import type { HTMLAttributes } from "astro/types";

import { sidebarFooter } from "./variants";

type Props = HTMLAttributes<"div">;

const { class: className, ...rest } = Astro.props;
---

<div
  class={sidebarFooter({ class: className })}
  data-sidebar="footer"
  {...rest}
  data-slot="sidebar-footer"
>
  <slot />
</div>
