---
import type { HTMLAttributes } from "astro/types";

import { sidebarMenuItem } from "./variants";

type Props = HTMLAttributes<"li">;

const { class: className, ...rest } = Astro.props;
---

<li
  class={sidebarMenuItem({ class: className })}
  data-sidebar="menu-item"
  {...rest}
  data-slot="sidebar-menu-item"
>
  <slot />
</li>
