---
import type { HTMLAttributes } from "astro/types";

import { sidebarMenuBadge } from "./variants";

type Props = HTMLAttributes<"div">;

const { class: className, ...rest } = Astro.props;
---

<div
  class={sidebarMenuBadge({ class: className })}
  data-sidebar="menu-badge"
  {...rest}
  data-slot="sidebar-menu-badge"
>
  <slot />
</div>
