---
import type { HTMLAttributes } from "astro/types";

import { sidebarGroup } from "./variants";

type Props = HTMLAttributes<"div">;

const { class: className, ...rest } = Astro.props;
---

<div
  class={sidebarGroup({ class: className })}
  data-sidebar="group"
  {...rest}
  data-slot="sidebar-group"
>
  <slot />
</div>
