---
import type { HTMLAttributes } from "astro/types";

import { sidebarInset } from "./variants";

type Props = HTMLAttributes<"main">;

const { class: className, ...rest } = Astro.props;
---

<main class={sidebarInset({ class: className })} {...rest} data-slot="sidebar-inset">
  <slot />
</main>
