auto-install-peers=true
node-linker=hoisted
lockfile=true

# make working with workspace packages easier
prefer-workspace-packages=true
link-workspace-packages=true

# This prevents the examples to have the `workspace:` prefix
save-workspace-protocol=true

# Ignore initial scripts to prevent errors in my laptop dev environment
side-effects-cache=false
ignore-scripts=true
enable-pre-post-scripts=false
