#auto-install-peers=true
auto-install-peers=false
node-linker=hoisted
lockfile=true

# make working with workspace packages easier
prefer-workspace-packages=true
link-workspace-packages=true

# This prevents the examples to have the `workspace:` prefix
save-workspace-protocol=false

# Skip optional and platform-specific dependencies
optional-dependencies=false
side-effects-cache=false
ignore-scripts=true
enable-pre-post-scripts=false
