---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

export const prose = tv({
  base: "starwind-prose max-w-[65ch]",
});

type Props = HTMLAttributes<"div"> & {
  /**
   * something?
   */
};

const { class: className, ...rest } = Astro.props;
---

<div class:list={[prose({ class: className })]} {...rest}><slot /></div>

<style></style>
