---
import DialogPrimitive from "@starwind-ui/astro/dialog";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"button"> & {
  asChild?: boolean;
  targetId?: string;
};

const { asChild = false, targetId, class: className, ...rest } = Astro.props;

const triggerClassName = className;
---

{
  asChild ? (
    <div
      class={triggerClassName}
      data-as-child
      data-sw-dialog-target-id={targetId}
      {...rest}
      data-slot="dialog-trigger"
      data-sw-dialog-trigger
    >
      <slot />
    </div>
  ) : (
    <DialogPrimitive.Trigger
      class={triggerClassName}
      targetId={targetId}
      {...rest}
      data-slot="dialog-trigger"
    >
      <slot />
    </DialogPrimitive.Trigger>
  )
}
