---
import DialogPrimitive from "@starwind-ui/astro/dialog";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"button"> & {
  asChild?: boolean;
};

const { asChild = false, class: className, ...rest } = Astro.props;

const closeClassName = className;
---

{
  asChild ? (
    <div
      class={closeClassName}
      data-as-child
      {...rest}
      data-slot="dialog-close"
      data-sw-dialog-close
    >
      <slot />
    </div>
  ) : (
    <DialogPrimitive.Close class={closeClassName} {...rest} data-slot="dialog-close">
      <slot>Close</slot>
    </DialogPrimitive.Close>
  )
}
