---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"span">;

const { class: className, ...rest } = Astro.props;
---

<span class:list={["ml-auto text-xs tracking-widest opacity-60", className]} {...rest}>
  <slot />
</span>
