---
import type { HTMLAttributes } from "astro/types";
import type { VariantProps } from "tailwind-variants";

import "./styles.css";
import ColorPickerPrimitive from "@starwind-ui/astro/color-picker";
import { colorPickerValueSwatch } from "./variants";

type Props = HTMLAttributes<"span"> &
  VariantProps<typeof colorPickerValueSwatch> & {
    initial?: import("@starwind-ui/astro/color-picker").ColorPickerRenderProjection;
  };

const { initial, class: className, size = "md", ...rest } = Astro.props;
---

<ColorPickerPrimitive.ValueSwatch
  initial={initial?.valueSwatch.initial}
  class={colorPickerValueSwatch({ size, class: className })}
  {...rest}
  data-slot="color-picker-value-swatch"
>
  <ColorPickerPrimitive.TransparencyGrid
    initial={initial?.transparencyGrid.initial}
    class="pointer-events-none absolute inset-0 size-full"
    data-slot="color-picker-transparency-grid"
  />

  <span
    class="pointer-events-none absolute inset-0 size-full"
    data-slot="color-picker-value-swatch-color"></span>
</ColorPickerPrimitive.ValueSwatch>
