---
/**
 * NOTE: style="animation: none;" makes it so the close animation doesn't run on page load
 * It is later removed in the Accordion.astro script
 */
import type { HTMLAttributes } from "astro/types";
import { accordionContentVariants } from "./variants";

type Props = HTMLAttributes<"div">;

const { class: className, ...rest } = Astro.props;
---

<div
  class={accordionContentVariants({ class: className })}
  data-state="closed"
  style="animation: none;"
  {...rest}
>
  <div class="overflow-hidden px-5 pt-0 pb-4">
    <slot />
  </div>
</div>
