---
import type { HTMLAttributes } from "astro/types";

import { sidebarMenuItem } from "./variants";

type Props = HTMLAttributes<"li"> & {
  "data-slot"?: string;
};

const { "data-slot": dataSlot = "sidebar-menu-item", class: className, ...rest } = Astro.props;
---

<li
  class={sidebarMenuItem({ class: className })}
  data-sidebar="menu-item"
  {...rest}
  data-slot={dataSlot}
>
  <slot />
</li>
