---
import ChevronDown from "@tabler/icons/outline/chevron-down.svg";
import type { HTMLAttributes } from "astro/types";
import type { VariantProps } from "tailwind-variants";

import { nativeSelect, nativeSelectIcon, nativeSelectWrapper } from "./variants";

type Props = Omit<HTMLAttributes<"select">, "size"> & VariantProps<typeof nativeSelect>;

const { class: className, size, ...rest } = Astro.props;
---

<div class={nativeSelectWrapper()} data-size={size} data-slot="native-select-wrapper">
  <select class={nativeSelect({ size, class: className })} {...rest} data-slot="native-select">
    <slot />
  </select>
  <slot name="icon">
    <ChevronDown
      class={nativeSelectIcon({ size })}
      aria-hidden="true"
      data-slot="native-select-icon"
    />
  </slot>
</div>
