---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className, ...rest } = Astro.props;
---

<div
  class:list={["select-none", className]}
  tabindex="0"
  aria-haspopup="menu"
  aria-expanded="false"
  style={{ WebkitTouchCallout: "none" }}
  {...rest}
  data-slot="context-menu-trigger"
>
  <slot />
</div>
