---
import type { HTMLAttributes } from "astro/types";

import { sheetDescription } from "./variants";

type Props = HTMLAttributes<"p">;

const { class: className, ...rest } = Astro.props;
---

<p class={sheetDescription({ class: className })} {...rest} data-slot="sheet-description">
  <slot />
</p>
