---
import type { HTMLTag, Polymorphic } from "astro/types";
import type { VariantProps } from "tailwind-variants";

import { aspectRatio, aspectRatioWrapper } from "./variants";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> &
  VariantProps<typeof aspectRatio> & {
    ratio?: number;
  };

const { ratio = 1, as: Tag = "div", class: className, ...rest } = Astro.props;

const wrapperStyle = `padding-bottom: ${100 / ratio}%`;
---

<div class={aspectRatioWrapper()} style={wrapperStyle} data-slot="aspect-ratio-wrapper">
  <Tag class={aspectRatio({ class: className })} data-slot="aspect-ratio" {...rest}>
    <slot />
  </Tag>
</div>
