---
import SheetPrimitive from "@starwind-ui/astro/drawer";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"button"> & {
  asChild?: boolean;
  targetId?: string;
};

const { asChild = false, targetId, class: className, ...rest } = Astro.props;

const triggerClassName = className;
---

{
  asChild ? (
    <div
      class={triggerClassName}
      data-as-child
      data-sw-drawer-target-id={targetId}
      {...rest}
      data-slot="sheet-trigger"
      data-sw-drawer-trigger
    >
      <slot />
    </div>
  ) : (
    <SheetPrimitive.Trigger
      class={triggerClassName}
      targetId={targetId}
      {...rest}
      data-slot="sheet-trigger"
    >
      <slot />
    </SheetPrimitive.Trigger>
  )
}
