---
import { avatarFallbackVariants } from "./variants";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={avatarFallbackVariants({ class: className })}>
  <slot />
</div>
