---
import type { HTMLAttributes } from "astro/types";
import { cardDescriptionVariant } from "./index";

type Props = HTMLAttributes<"div">;

const { class: className, ...rest } = Astro.props;
---

<div class={cardDescriptionVariant({ class: className })} {...rest}>

  <slot />
</div>
