---
import type { HTMLAttributes } from "astro/types";
import { cardHeaderVariant } from "./index";


type Props = HTMLAttributes<"div">;

const { class: className, ...rest } = Astro.props;
---

<div class={cardHeaderVariant({ class: className })} {...rest}>
  <slot />
</div>
