---
import CarouselDemos from "@/components/carousel-demos/CarouselDemos.astro";
import CarouselPluginDemo from "@/components/carousel-demos/CarouselPluginDemo.astro";
import {
  AccordionDemo,
  AlertDemo,
  AlertDialogDemo,
  AspectRatioDemo,
  AvatarDemo,
  BadgeDemo,
  BreadcrumbDemo,
  ButtonDemo,
  ButtonGroupDemo,
  CardDemo,
  CheckboxDemo,
  DialogDemo,
  DropdownDemo,
  DropzoneDemo,
  FormDemo,
  ImageDemo,
  InputOtpDemo,
  ItemDemo,
  KbdDemo,
  PaginationDemo,
  ProgressDemo,
  RadioGroupDemo,
  SelectDemo,
  SeparatorDemo,
  SheetDemo,
  SkeletonDemo,
  SliderDemo,
  SpinnerDemo,
  SwitchDemo,
  TableDemo,
  TabsDemo,
  ThemeToggleDemo,
  ToastDemo,
  ToggleDemo,
  TooltipDemo,
  VideoDemo,
} from "@/components/demos";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Starwind UI components demo"
  description="A collection of accessible UI components built with Astro"
>
  <div class="container mx-auto px-4 pb-20">
    <ThemeToggleDemo />
    <BadgeDemo />
    <ButtonDemo />
    <ButtonGroupDemo />
    <InputOtpDemo />
    <DialogDemo />
    <ToastDemo />
    <VideoDemo />
    <SliderDemo />
    <ImageDemo />
    <AccordionDemo />
    <SheetDemo />
    <AspectRatioDemo />
    <SpinnerDemo />
    <SeparatorDemo />
    <ItemDemo />
    <CarouselDemos />
    <CarouselPluginDemo />
    <DropzoneDemo />
    <ProgressDemo />
    <SkeletonDemo />
    <RadioGroupDemo />
    <BreadcrumbDemo />
    <DropdownDemo />
    <AlertDialogDemo />
    <TabsDemo />
    <FormDemo />
    <SelectDemo />
    <CardDemo />
    <PaginationDemo />
    <SwitchDemo />
    <ToggleDemo />
    <AvatarDemo />
    <CheckboxDemo />
    <TooltipDemo />
    <AlertDemo />
    <TableDemo />
    <KbdDemo />
  </div>
</Layout>
