---
import MinusIcon from "@tabler/icons/outline/minus.svg";
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"div">;

export const inputOtpSeparator = tv({
  base: "text-muted-foreground",
});

const { class: className, ...rest } = Astro.props;
---

<div
  aria-hidden="true"
  class={inputOtpSeparator({ class: className })}
  data-slot="input-otp-separator"
  role="separator"
  {...rest}
>
  <slot name="icon">
    <MinusIcon class="size-6" />
  </slot>
</div>
