---
import ArrowLeft from "@tabler/icons/outline/arrow-left.svg";
import { tv } from "tailwind-variants";

import { Button } from "@/components/starwind/button";

const carouselPrevious = tv({
  base: [
    "starwind-carousel-previous absolute size-8 rounded-full",
    // Horizontal positioning
    "data-[orientation=x]:top-1/2 data-[orientation=x]:-left-12 data-[orientation=x]:-translate-y-1/2",
    // Vertical positioning
    "data-[orientation=y]:-top-12 data-[orientation=y]:left-1/2 data-[orientation=y]:-translate-x-1/2 data-[orientation=y]:rotate-90",
  ],
});

export interface Props {
  class?: string;
  variant?: "outline" | "ghost" | "default";
  size?: "icon" | "sm" | "lg" | "md";
}

const { class: className = "", variant = "outline", size = "icon", ...props } = Astro.props;
---

<Button
  data-slot="carousel-previous"
  data-orientation="x"
  variant={variant}
  size={size}
  class={carouselPrevious({ class: className })}
  aria-label="Previous slide"
  {...props}
>
  <ArrowLeft />
  <span class="sr-only">Previous slide</span>
</Button>
