---
import ArrowRight from "@tabler/icons/outline/arrow-right.svg";
import { tv } from "tailwind-variants";

import { Button } from "@/components/starwind/button";

const carouselNext = tv({
  base: [
    "starwind-carousel-next absolute size-8 rounded-full",
    // Horizontal positioning
    "data-[orientation=x]:top-1/2 data-[orientation=x]:-right-12 data-[orientation=x]:-translate-y-1/2",
    // Vertical positioning
    "data-[orientation=y]:-bottom-12 data-[orientation=y]:left-1/2 data-[orientation=y]:-translate-x-1/2 data-[orientation=y]:rotate-90",
  ],
});

export interface Props {
  class?: string;
  variant?: "outline" | "ghost" | "default";
  size?: "icon" | "sm" | "lg" | "md";
}

const { class: className = "", variant = "outline", size = "icon", ...props } = Astro.props;
---

<Button
  data-slot="carousel-next"
  data-orientation="x"
  variant={variant}
  size={size}
  class={carouselNext({ class: className })}
  aria-label="Next slide"
  {...props}
>
  <ArrowRight />
  <span class="sr-only">Next slide</span>
</Button>
