---
import type { HTMLAttributes } from "astro/types";
import { breadcrumbPageVariants } from "./variants";

type Props = HTMLAttributes<"span">;

const { class: className, ...rest } = Astro.props;
---

<span
  role="link"
  aria-disabled="true"
  aria-current="page"
  class={breadcrumbPageVariants({ class: className })}
  {...rest}
>
  <slot />
</span>
