---
import type { HTMLAttributes } from "astro/types";
import { breadcrumbItemVariants } from "./variants";


type Props = HTMLAttributes<"li">;

const { class: className, ...rest } = Astro.props;
---

<li class={breadcrumbItemVariants({ class: className })} {...rest}>
  <slot />
</li>
