---
import type { HTMLAttributes } from "astro/types";
import { breadcrumbLinkVariants } from "./variants";

interface Props extends HTMLAttributes<"a"> {
  asChild?: boolean;
}

const { class: className, asChild = false, ...rest } = Astro.props;
---

{
  asChild ? (
    <slot />
  ) : (
    <a class={breadcrumbLinkVariants({ class: className })} {...rest}>
      <slot />
    </a>
  )
}
