---
import Dots from "@tabler/icons/outline/dots.svg";
import type { HTMLAttributes } from "astro/types";
import { breadcrumbEllipsisVariants } from "./variants";

type Props = HTMLAttributes<"span">;

const { class: className, ...rest } = Astro.props;
---

<span
  role="presentation"
  aria-hidden="true"
  class={breadcrumbEllipsisVariants({ class: className })}
  {...rest}
>
  <Dots />
  <span class="sr-only">More</span>
</span>
