---
import type { HTMLAttributes } from "astro/types";

import { breadcrumbLink } from "./variants";

interface Props extends HTMLAttributes<"a"> {
  asChild?: boolean;
}

const { asChild = false, class: className, ...rest } = Astro.props;
---

{
  asChild ? (
    <slot />
  ) : (
    <a
      data-sw-breadcrumb-link
      class={breadcrumbLink({ class: className })}
      {...rest}
      data-slot="breadcrumb-link"
    >
      <slot />
    </a>
  )
}
