---
import type { HTMLAttributes } from "astro/types";
import { type VariantProps } from "tailwind-variants";
import { alertVariants } from "./index";


type Props = HTMLAttributes<"div"> & VariantProps<typeof alertVariants>;

const { variant, class: className, ...rest } = Astro.props;
---

<div class={alertVariants({ variant, class: className })} {...rest}>
  <slot />
</div>
