---
import ChevronDown from "@tabler/icons/outline/chevron-down.svg";
import type { HTMLAttributes } from "astro/types";
import type { VariantProps } from "tailwind-variants";

import { selectTrigger } from "./variants";

type Props = Omit<HTMLAttributes<"button">, "role" | "type"> &
  VariantProps<typeof selectTrigger> & {
    /**
     * The content to be rendered inside the select trigger
     */
    children: any;
  };

const { class: className, size, ...rest } = Astro.props;
---

<button
  class={selectTrigger({ size, class: className })}
  type="button"
  role="combobox"
  aria-label="Select field"
  aria-controls=""
  aria-expanded="false"
  aria-haspopup="listbox"
  aria-autocomplete="none"
  data-state="closed"
  {...rest}
  data-slot="select-trigger"
>
  <slot />
  <slot name="icon">
    <ChevronDown class="size-4 opacity-50" />
  </slot>
</button>
