---
import { Avatar, AvatarFallback, AvatarImage } from "@/components/starwind/avatar";
---

<section class="mx-auto mt-10 max-w-lg">
  <h2 class="mb-4 text-2xl font-bold">Avatar</h2>
  <div class="flex flex-wrap gap-4" slot="preview">
    <Avatar variant="default" class="rounded-md border-purple-500">
      <AvatarImage src="https://i.pravatar.cc/150?u=a04258a2462d826712d" alt="John Doe" />
      <AvatarFallback>JD</AvatarFallback>
    </Avatar>
    <Avatar variant="primary">
      <AvatarImage src="https://i.pravatar.cc/150?u=a04258a2462d826712d" alt="John Doe" />
      <AvatarFallback>JD</AvatarFallback>
    </Avatar>
    <Avatar variant="secondary">
      <AvatarImage src="https://i.pravatar.cc/150?u=a04258a2462d826712d" alt="John Doe" />
      <AvatarFallback>JD</AvatarFallback>
    </Avatar>
    <Avatar variant="info">
      <AvatarImage src="https://i.pravatar.cc/150?u=a04258a2462d826712d" alt="John Doe" />
      <AvatarFallback>JD</AvatarFallback>
    </Avatar>
    <Avatar variant="success">
      <AvatarImage src="https://i.pravatar.cc/150?u=a04258a2462d826712d" alt="John Doe" />
      <AvatarFallback>JD</AvatarFallback>
    </Avatar>
    <Avatar variant="warning">
      <AvatarImage src="https://i.pravatar.cc/150?u=a04258a2462d826712d" alt="John Doe" />
      <AvatarFallback>JD</AvatarFallback>
    </Avatar>
    <Avatar variant="error">
      <AvatarImage src="https://i.pravatar.cc/150?u=a04258a2462d826712d" alt="John Doe" />
      <AvatarFallback>JD</AvatarFallback>
    </Avatar>
    <Avatar size="sm">
      <AvatarImage src="https://i.pravatar.cc/150?u=a04258a2462d826712d" alt="John Doe" />
      <AvatarFallback>JD</AvatarFallback>
    </Avatar>
    <Avatar size="md">
      <AvatarImage src="https://i.pravatar.cc/150?u=a04258a2462d826712d" alt="John Doe" />
      <AvatarFallback>JD</AvatarFallback>
    </Avatar>
    <Avatar size="lg">
      <AvatarImage src="https://i.pravatar.cc/150?u=a04258a2462d826712d" alt="John Doe" />
      <AvatarFallback>JD</AvatarFallback>
    </Avatar>
  </div>
</section>
