---
import IconSelector from "@tabler/icons/outline/selector.svg";

import { Button } from "@/components/starwind/button";
import {
  Collapsible,
  CollapsibleContent,
  CollapsibleTrigger,
} from "@/components/starwind/collapsible";
---

<section class="mx-auto mt-10 max-w-lg">
  <h2 class="mb-4 text-2xl font-bold">Collapsible</h2>

  <Collapsible class="w-[350px] space-y-2">
    <div class="flex items-center justify-between space-x-4 px-4">
      <h4 class="text-sm font-semibold">@boston343 starred 3 repositories</h4>
      <CollapsibleTrigger asChild>
        <Button variant="ghost" size="sm" class="w-9 p-0">
          <IconSelector class="size-4" />
          <span class="sr-only">Toggle</span>
        </Button>
      </CollapsibleTrigger>
    </div>
    <div class="bg-muted rounded-md border px-4 py-3 font-mono text-sm">@radix-ui/primitives</div>
    <CollapsibleContent class="space-y-2">
      <div class="bg-muted rounded-md border px-4 py-3 font-mono text-sm">@radix-ui/colors</div>
      <div class="bg-muted rounded-md border px-4 py-3 font-mono text-sm">@stitches/react</div>
    </CollapsibleContent>
  </Collapsible>
</section>

<section class="mx-auto mt-6 max-w-lg">
  <h3 class="mb-2 text-lg font-semibold">Default Open</h3>

  <Collapsible class="w-[350px] space-y-2" defaultOpen>
    <div class="flex items-center justify-between space-x-4 px-4">
      <h4 class="text-sm font-semibold">@shadcn starred 2 repositories</h4>
      <CollapsibleTrigger asChild>
        <Button variant="ghost" size="sm" class="w-9 p-0">
          <IconSelector class="size-4" />
          <span class="sr-only">Toggle</span>
        </Button>
      </CollapsibleTrigger>
    </div>
    <div class="bg-muted rounded-md border px-4 py-3 font-mono text-sm">astro</div>
    <CollapsibleContent class="space-y-2">
      <div class="bg-muted rounded-md border px-4 py-3 font-mono text-sm">tailwindcss</div>
    </CollapsibleContent>
  </Collapsible>
</section>
