---

import { ColorPicker } from "@/components/starwind/color-picker";
import { Button } from "@/components/starwind/button";
import TextColor from "@tabler/icons/outline/text-color.svg";

---
<section class="mx-auto mt-6 max-w-lg">
  <h2 class="mb-4 text-2xl font-bold">Color Picker</h2>
  <div class="mb-6">
    <p class="text-muted-foreground mb-2 text-sm">Sizes</p>
    <div class="flex gap-5">
      <div>
        <p class="text-muted-foreground mb-2 text-xs">Small</p>
        <ColorPicker size="sm"/>
      </div>
      <div>
        <p class="text-muted-foreground mb-2 text-xs">Medium (Default)</p>
        <ColorPicker size="md"/>
      </div>
      <div>
        <p class="text-muted-foreground mb-2 text-xs">Large</p>
        <ColorPicker size="lg"/>
      </div>
    </div>
  </div>
  <div class="mb-6">
    <p class="text-muted-foreground mb-2 text-sm">Default Value</p>
    <ColorPicker defaultValue="#ff0000"/>
  </div>
  <div class="mb-6">
    <p class="text-muted-foreground mb-2 text-sm">Programmatic Set Value</p>
    <ColorPicker id="color-picker-programmatic"/>
    <Button size="sm" variant="primary" class="mt-4" id="programmatic-set-value-btn">Programmatically select color rgb(0,255,0)</Button>
  </div>
  <div class="mb-6">
    <p class="text-muted-foreground mb-2 text-sm">Custom Use</p>
    <span class="dark:bg-input/30 bg-background border h-11 w-11 !block !flex !flex-col justify-center items-center gap-[1px] px-2 rounded-md">
      <TextColor class="size-4" />
      <ColorPicker class="!w-8 !h-3" defaultValue="rgb(255,0,0)"/>
    </span>
  </div>
</section>
<script>
  import type { ColorPickerEvent } from "@/components/starwind/color-picker/ColorPickerTypes";
  const colorPickerProgrammatic = document.getElementById("color-picker-programmatic");
  const programmaticBtn = document.getElementById("programmatic-set-value-btn");
  programmaticBtn.addEventListener('click', () => {
    colorPickerProgrammatic.setValue("rgb(0,0,255)");
  });
  colorPickerProgrammatic.addEventListener('starwind-color-picker:change', (event: ColorPickerEvent) => {
    console.log("selectedValue: ", event.detail.value); 
  });
</script>
