---
import { Badge } from "@/components/starwind/badge";
import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableFoot,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/starwind/table";
---

<section class="mx-auto mt-6 max-w-xl">
  <h2 class="mb-4 text-2xl font-bold">Table</h2>
  <Table>
    <TableCaption>A list of your recent invoices</TableCaption>
    <TableHeader>
      <TableRow>
        <TableHead>Invoice</TableHead>
        <TableHead>Status</TableHead>
        <TableHead>Method</TableHead>
        <TableHead class="text-right">Amount</TableHead>
      </TableRow>
    </TableHeader>
    <TableBody>
      <TableRow>
        <TableCell>INV001</TableCell>
        <TableCell>
          <Badge>Paid</Badge>
        </TableCell>
        <TableCell>Credit Card</TableCell>
        <TableCell class="text-right">$250.00</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>INV002</TableCell>
        <TableCell>
          <Badge variant="outline">Pending</Badge>
        </TableCell>
        <TableCell>PayPal</TableCell>
        <TableCell class="text-right">$150.00</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>INV003</TableCell>
        <TableCell>
          <Badge variant="error">Overdue</Badge>
        </TableCell>
        <TableCell>Bank Transfer</TableCell>
        <TableCell class="text-right">$350.00</TableCell>
      </TableRow>
    </TableBody>
    <TableFoot>
      <TableRow>
        <TableCell colspan={3}>Total</TableCell>
        <TableCell class="text-right">$750.00</TableCell>
      </TableRow>
    </TableFoot>
  </Table>
</section>
