---
import Sparkles from "@tabler/icons/outline/sparkles.svg";
---

<div class="bg-foreground text-background relative px-4 py-2 text-center text-sm">
  <div class="site-container">
    <div class="mx-auto flex flex-wrap items-center justify-center gap-x-3 gap-y-2">
      <Sparkles class="text-primary hidden size-4 sm:inline-block md:size-5" aria-hidden="true" />
      <p class="text-center text-xs leading-6 md:text-sm">
        <strong class="font-semibold">Starwind UI</strong> is now available!
        <svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"
          ><circle cx="1" cy="1" r="1"></circle></svg
        >
        <span class="hidden md:inline-block"
          >Build beautiful Astro websites with our open source library
        </span>

        <a
          href="/docs/getting-started"
          class="decoration-primary ml-1 font-semibold whitespace-nowrap underline underline-offset-2 transition-opacity hover:opacity-80"
        >
          Get started <span aria-hidden="true">&rarr;</span>
        </a>
      </p>
    </div>
  </div>
</div>
