---

---

<div class="bg-foreground text-background relative px-4 py-2 text-center text-sm">
	<div class="site-container">
		<p>
			Upcoming open source Astro component library. Interested? Follow <a
				href="https://x.com/BowTiedWebReapr"
				target="_blank"
				rel="noopener noreferrer"
				class="decoration-primary underline underline-offset-2">BowTiedWebReapr</a
			> for updates.
		</p>
	</div>
</div>
