---
import { ThemeToggle } from "@/components/starwind/theme-toggle";

import AnnouncementBar from "./AnnouncementBar.astro";
---

<!-- <div class="sticky top-0 z-50"> -->
<AnnouncementBar />

<nav class="bg-background sticky top-0 z-50 border-b py-3 shadow-md">
  <div class="container mx-auto flex items-center justify-between px-4">
    <div class="flex items-center gap-8">
      <a href="/" class="text-2xl font-semibold hover:opacity-80">Starwind UI</a>
      <nav class="flex items-center gap-4">
        <a
          href="/pages/sidebar-demo"
          class="text-muted-foreground hover:text-foreground text-sm transition-colors"
        >
          Sidebar
        </a>
        <a
          href="/pages/sidebar-nested"
          class="text-muted-foreground hover:text-foreground text-sm transition-colors"
        >
          Nested Sidebar
        </a>
        <a
          href="/pages/markdown-example"
          class="text-muted-foreground hover:text-foreground text-sm transition-colors"
        >
          Prose Demo
        </a>
      </nav>
    </div>
    <ThemeToggle />
  </div>
</nav>
<!-- </div> -->
