---
import { ThemeToggle } from "@/components/starwind/theme-toggle";

import AnnouncementBar from "./AnnouncementBar.astro";
---

<!-- <div class="sticky top-0 z-50"> -->
<AnnouncementBar />

<nav class="bg-background sticky top-0 z-50 border-b py-3 shadow-md">
  <div class="container mx-auto flex items-center justify-between px-4">
    <h1 class="text-2xl font-semibold">Starwind UI</h1>
    <ThemeToggle />
  </div>
</nav>
<!-- </div> -->
